In [1]:
import os

os.chdir("../..")

In [2]:
from src.dataset import pokumon, pkmncards

pokumon_df = pokumon.get_pokumon_df()
pkmncards_df = pkmncards.get_pkmncards_df()
pokumon_df.shape, pkmncards_df.shape

((7689, 16), (10331, 1))

In [3]:
pkmncards_df.head()

                                                                      image_path
id
ex-trainer-kit-2006/minun-03   db/shared/jpg/pkmncards/sets-eng/ex-trainer-ki...
ex-trainer-kit-2006/plusle-01  db/shared/jpg/pkmncards/sets-eng/ex-trainer-ki...
ex-trainer-kit-2006/minun-02   db/shared/jpg/pkmncards/sets-eng/ex-trainer-ki...
ex-trainer-kit-2006/plusle-03  db/shared/jpg/pkmncards/sets-eng/ex-trainer-ki...
ex-trainer-kit-2006/plusle-02  db/shared/jpg/pkmncards/sets-eng/ex-trainer-ki...

In [4]:
import pandas as pd

BLANK_CARD_URL = 'https://cdn6966.templcdn.com/wp-content/uploads/2021/03/PlaceholderCard.jpg'

pokumon_df = pokumon_df[pokumon_df["image_url"] != BLANK_CARD_URL]
df = pd.concat([pokumon_df[["image_path"]], pkmncards_df], ignore_index=False)
df.shape

(17777, 1)

In [5]:
df.head()

                                                                                           image_path
id
%ce%b4-rainbow-energy-149-pcg-p-japanese-promo      db/shared/jpg/pokumon/%ce%b4-rainbow-energy-14...
%ce%b4-rainbow-energy-9-17-pokemon-organized-pl...  db/shared/jpg/pokumon/%ce%b4-rainbow-energy-9-...
1st-place-rare-candy-welcome-festa-2017-sm-p        db/shared/jpg/pokumon/1st-place-rare-candy-wel...
20-damage-from-confusion-expansion-sheet-3-1998...  db/shared/jpg/pokumon/20-damage-from-confusion...
2nd-place-rare-candy-welcome-festa-2017-sm-p        db/shared/jpg/pokumon/2nd-place-rare-candy-wel...

In [6]:
from src.shared.storage import DataFrameStorage, Database

# save combined df
df_storage = DataFrameStorage("classification", db=Database.SHARED)
df_storage.set("combined", df)

In [7]:
new_df = df_storage.get("combined")
new_df.head()

,id,image_path
0,%ce%b4-rainbow-energy-149-pcg-p-japanese-promo,db/shared/jpg/pokumon/%ce%b4-rainbow-energy-14...
1,%ce%b4-rainbow-energy-9-17-pokemon-organized-p...,db/shared/jpg/pokumon/%ce%b4-rainbow-energy-9-...
2,1st-place-rare-candy-welcome-festa-2017-sm-p,db/shared/jpg/pokumon/1st-place-rare-candy-wel...
3,20-damage-from-confusion-expansion-sheet-3-199...,db/shared/jpg/pokumon/20-damage-from-confusion...
4,2nd-place-rare-candy-welcome-festa-2017-sm-p,db/shared/jpg/pokumon/2nd-place-rare-candy-wel...