In [1]:
from src.dataset import get_eng_df, get_cgc_df

eng_df = get_eng_df()

eng_df.head()

                                           file_path
0  ../db/pokemontcg.io/sets-eng/ex-trainer-kit-20...
1  ../db/pokemontcg.io/sets-eng/ex-trainer-kit-20...
2  ../db/pokemontcg.io/sets-eng/ex-trainer-kit-20...
3  ../db/pokemontcg.io/sets-eng/ex-trainer-kit-20...
4  ../db/pokemontcg.io/sets-eng/ex-trainer-kit-20...

In [21]:
cgc_df = get_cgc_df()
cgc_df.head()

,card_name,card_number,card_set,cert_#,game,grade,language,variant_1,year,variant_2,centering,corners,edges,surface,pedigree,error_type,key
0,Charizard EX,XY121,Black Star Promos,4121569001,Pokémon,8.0,English,Charizard EX Red & Blue Coll.,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4121569001
1,Mew,9,Black Star Promos,4121569002,Pokémon,8.0,English,Holo,2000,Pokémon League,NaN,NaN,NaN,NaN,NaN,NaN,4121569002
2,Mew,9,Black Star Promos,4121569003,Pokémon,8.5,English,Holo,2000,Pokémon League,NaN,NaN,NaN,NaN,NaN,NaN,4121569003
3,Ancient Mew,NaN,Movie Promo,4121569004,Pokémon,8.5,English,Pokémon Movie 2000,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4121569004
4,Dark Gyarados,8/82,Team Rocket - Unlimited,4121569005,Pokémon,8.5,English,League Prerelease Promo,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4121569005

In [22]:
eng_df.size
cgc_df.size

41310

In [25]:
import os

print(len(os.listdir("/Volumes/T7/db/images/cgc")))

11572